<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h2 >Wymagania funkcjonalne</h2>
        <hr class="my-4">
        <p><del>Wyświetlanie informacji na temat filmów przechowywanych w bazie danych</del></p>
        <p><del>Wyszukiwanie i filtrowanie</del></p>
        <p><del>Możliwość oceniania i komentowania</del></p>
        <p><del>Możliwość tworzenia własnych list przez użytkownika</del></p>
        <p><del>Możliwość "obserwowania" innych użytkowników</del></p>
        <p><del>Możliwość śledzenia aktywności obserwowanych użytkowników</del></p>
        <p>Możliwość polecania filmów innym użytkownikom</p>
        <p>Rekomendowanie filmów na podstawie ocen użytkownika</p>
        <p><del>Prowadzenie statystyk</del></p>
        <p>Wpływ użytkownika na kategorie filmów</p>
        <p><del>Możliwość dodawania i edytowania filmów przez administratora</del></p>
        <p><del>Możliwość usuwania komentarzy przez administratora</del></p>
        <p><del>Możliwość blokowania użytkowników przez administratora</del></p>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>