<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-4">Regulamin</h1>
        <hr class="my-4">
        <h3>Wymagania funkcjonalne</h3>
        <p><del>Wyświetlanie informacji na temat filmów przechowywanych w bazie danych</del></p>
        <p><del>Wyszukiwanie i filtrowanie</del></p>
        <p><del>Możliwość oceniania i komentowania</del></p>
        <p><del>Możliwość tworzenia własnych list przez użytkownika</del></p>
        <p>Możliwość dodania innych użytkowników jako znajomych i śledzenie ich aktywności oraz polecanie im filmów</p>
        <p>Rekomendowanie filmów na podstawie ocen użytkownika</p>
        <p><del>Prowadzenie statystyk</del></p>
        <p>Wpływ użytkownika na kategorie filmów</p>
        <p>Możliwość dodawania i edytowania filmów przez użytkownika</p>
        <p>Możliwość akceptowania lub odrzucenia zmian w filmie przez administratora</p>
        <p>Możliwość usuwania komentarzy i blokowania użytkowników przez administratora</p>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>