<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h3>Postanowienia ogólne</h3>
        <hr class="my-4">
        <p>Rejestrując się w systemie wyrażasz zgodę na upublicznienie Twoich aktywności (ocenianie i komentowanie filmów) innym użytkownikom systemu.</p>
    </div>
    <div class="jumbotron">
        <h3>Źródło danych</h3>
        <hr class="my-4">
        <p>Źródłem danych jest portal <a href="https://www.themoviedb.org">TMDb</a>. Ten produkt wykorzystuje interfejs API TMDb, ale nie jest zatwierdzony ani certyfikowany przez TMDb.</p>
        <p>Komunikacja z API TMDb odbywa się przy pomocy polecanej przez portal <a href="https://github.com/holgerbrandl/themoviedbapi/blob/master/LICENCE.txt">biblioteki Java</a>.</p>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>