<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">

    <div class="jumbotron">
        <h2><span>Wyszukiwarka użytkowników</span></h2>
        <hr class="my-4">
        <form th:action="@{/profileSearch}" method="get" class="my-2 my-lg-2">
            <div class="input-group">
                <input class="form-control input-lg border-dark" name="username" type="search" placeholder="Podaj nazwę użytkownika">
                <div class="input-group-append">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Szukaj</button>
                </div>
            </div>
        </form>
    </div>

    <div class="jumbotron" th:if="${#httpServletRequest.getParameter('username') != null}">

        <p class="text-center" th:if="${userList.size() == 0}">Nie znaleziono użytkowników o podanej nazwie</p>

        <div class="card mb-3 border-dark" th:each="user : ${userList}">
            <div class="row no-gutters">
                <div class="col-md-10">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-dark" th:href="@{/profile/{id} (id=${user.getId()})}" th:text="${user.getNickname()}">Nickname</a></h3>
                        <p></p>
                        <ul class="list-inline">
                            <li class="list-inline-item font-weight-bold" th:text="'Data rejestracji: ' + ${#dates.format(user.getRegisterDate(), 'dd MMM yyyy')}">Register date</li>
                            <li class="list-inline-item font-weight-bold" th:text="'Liczba ocenionych filmów: ' + ${user.getRatings().size()}">Number of rated movies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>