<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">

    <div class="jumbotron">
        <h2><span>Wyszukiwarka użytkowników</span></h2>
        <hr class="my-4">
        <form th:action="@{/profileSearch}" method="get" class="my-2 my-lg-2">
            <div class="input-group">
                <input class="form-control input-lg border-dark" name="username" type="search" placeholder="Podaj nazwę użytkownika">
                <div class="input-group-append">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Szukaj</button>
                </div>
            </div>
        </form>
    </div>

    <div class="jumbotron" th:if="${#httpServletRequest.getParameter('username') != null}">

        <p class="text-center" th:if="${userList.size() == 0}">Nie znaleziono użytkowników o podanej nazwie</p>

        <div class="card-deck">

            <div class="w-25 d-flex align-items-stretch mb-4" th:each="user : ${userList}">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <h5 class="card-title text-warning" th:text="${user.getNickname()}">Username</h5>
                        <h6 title="Data rejestracji" class="card-subtitle mb-2 text-muted" th:text="${#dates.format(user.getRegisterDate(), 'dd MMM yyyy')}">15 lip 2019</h6>
                        <small>
                            Liczba
                            <ul style="padding-inline-start: 20px !important;">
                                <li>
                                    <span>ocen filmów: </span>
                                    <span th:text="${user.getRatings().size()}"></span>
                                </li>
                                <li>
                                    <span>komentarzy: </span>
                                    <span th:text="${user.getComments().size()}"></span>
                                </li>
                            </ul>
                        </small>
                        <small><a th:href="@{/profile/{id} (id=${user.getId()})}" class="card-link">Przejdź do profilu</a></small>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>