<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="mt-5" th:fragment="footer">
    <footer class="footer bg-dark text-muted fixed-bottom">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-3">
                    <span class="text-muted">© Mateusz Rokosa 2019</span>
                </div>
                <div class="col-md-8 text-right">
                    <span class="text-muted">This product uses the TMDb API but is not endorsed or certified by TMDb.</span>
                </div>
                <div class="col-md-1 text-left">
                    <img style="max-height: 20px" src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg">
                </div>
            </div>


        </div>
    </footer>
</div>
</body>
</html>


