<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header class="mb-5" th:fragment="header">
    <nav class="navbar fixed-top static-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white">FilmZone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Filmy<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rankingi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ranking/highest_rated">Najwyżej oceniane</a>
                        <a class="dropdown-item" href="/ranking/most_rated">Najczęściej oceniane</a>
                        <a class="dropdown-item" href="/ranking/most_expected">Najbardziej oczekiwane</a>
                        <a class="dropdown-item" href="/ranking/most_searched">Najczęściej wyszukiwane</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terms_of_use">Regulamin<span class="sr-only"></span></a>
                </li>
            </ul>
            <form th:action="@{/movies}" method="get" class="my-2 my-lg-2">
                <div class="input-group">
                    <input class="form-control input-lg" th:value="${#httpServletRequest.getParameter('searchedMovieName')}" th:name="searchedMovieName" type="search" placeholder="Szukaj filmu" aria-label="Szukaj">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Szukaj</button>
                    </div>
                </div>
            </form>
            <form sec:authorize="!isAuthenticated()" action="/login">
                <button class="btn btn-outline-warning ml-2 my-2 my-sm-0" type="submit">Login</button>
            </form>
            <form sec:authorize="!isAuthenticated()" action="/register">
                <button class="btn btn-outline-warning ml-2 my-2 my-sm-0" type="submit">Rejestracja</button>
            </form>

            <div sec:authorize="isAuthenticated()" class="dropdown">
                <button class="btn btn-outline-warning ml-2 my-2 my-sm-0 dropdown-toggle" type="button" id="userOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.getPrincipal().getUsername()}">
                    Dropdown button
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptions">
                    <a class="dropdown-item" th:href="@{/myProfile}">Mój profil</a>
                    <a class="dropdown-item" th:href="@{/activities}">Aktywności</a>
                    <a class="dropdown-item" th:href="@{/profileSearch}">Wyszukiwarka użytkowników</a>
                    <a class="dropdown-item" th:href="@{/myMovies}">Moje filmy</a>
                    <a class="dropdown-item" th:href="@{/addMovie}">Dodaj film</a>
                    <a class="dropdown-item" th:href="@{/perform_logout}">Wyloguj</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="mt-5" th:with="infoMessages=${session[T(com.rooq37.filmzone.notifications.NotificationService).MESSAGES_INFO_SESSION_KEY]}">
        <div class="alert alert-success alert-dismissible fade show mt-1" role="alert" th:each="message : ${infoMessages}">
            <span th:text="${message}">Message</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <span th:if="${infoMessages}" th:remove="all"
              th:text="${#session.removeAttribute(T(com.rooq37.filmzone.notifications.NotificationService).MESSAGES_INFO_SESSION_KEY)}"></span>
    </div>
    <div class="mt-5" th:with="errorMessages=${session[T(com.rooq37.filmzone.notifications.NotificationService).MESSAGES_ERROR_SESSION_KEY]}">
        <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert" th:each="message : ${errorMessages}">
            <span th:text="${message}">Message</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <span th:if="${errorMessages}" th:remove="all"
              th:text="${#session.removeAttribute(T(com.rooq37.filmzone.notifications.NotificationService).MESSAGES_ERROR_SESSION_KEY)}"></span>
    </div>
</header>
</body>
</html>