<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">

    <div class="jumbotron">
        <h2 class="text-center" th:text="${rankingTitle}">Top 100</h2>
    </div>

    <div class="jumbotron pb-3 pt-4">

        <div class="card mb-3 border-dark" th:each="rankElement : ${ranking}">
            <div class="card-header border-dark font-weight-bold text-center" th:text="${rankElementStat.index + 1}">TOP</div>
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img th:src="${rankElement.getCover().getSource()}" class="card-img" th:alt="${rankElement.getCover().getName()}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-dark" th:href="@{/movie/{id} (id=${rankElement.getMovieId()})}" th:text="${rankElement.getTitle()}">Title</a></h3>
                        <h7 class="text-muted">
                            <a href="#" class="badge badge-pill badge-dark" th:each="category : ${rankElement.getCategories()}" th:text="'#' + ${category}">#category</a>
                        </h7>
                        <p class="card-text" th:text="${rankElement.getDescription()}">Description</p>
                        <ul class="list-inline">
                            <li class="font-weight-bold list-inline-item" th:text="'⦿ Średnia ocena TMDB: ' + ${rankElement.getTmdbVoteAvg()}">Tmdb vote average</li>
                            <li class="font-weight-bold list-inline-item" th:text="'⦿ Liczba ocen TMDB: ' + ${rankElement.getTmdbVoteCount()}">Tmdb vote count</li>
                        </ul>
                        <ul class="list-inline">
                            <li th:if="${rankingType != 'HIGHEST_RATED'}" class="font-weight-bold list-inline-item" th:text="'⦿ Średnia ocena Filmzone: ' + ${rankElement.getFzVoteAvg()}">Filmzone vote average</li>
                            <li th:if="${rankingType != 'MOST_RATED'}" class="font-weight-bold list-inline-item" th:text="'⦿ Liczba ocen Filmzone:' + ${rankElement.getFzVoteCount()}">Filmzone vote count</li>
                            <li th:if="${rankingType != 'MOST_SEARCHED'}" class="font-weight-bold list-inline-item" th:text="'⦿ Liczba wyszukiwań w Filmzone: ' + ${rankElement.getFzNumberOfSearches()}">Number of searches</li>
                        </ul>
                    </div>
                </div>
            </div>
            <th:block th:switch="${rankingType}">
                <div th:case="MOST_SEARCHED" class="card-footer text-muted text-center" th:text="${'Liczba wyszukiwań w Filmzone: ' + rankElement.getFzNumberOfSearches()}"></div>
                <div th:case="HIGHEST_RATED" class="card-footer text-muted text-center" th:text="${'Średnia ocen Filmzone: ' + rankElement.getFzVoteAvg()}"></div>
                <div th:case="MOST_RATED" class="card-footer text-muted text-center" th:text="${'Liczba ocen Filmzone: ' + rankElement.getFzVoteCount()}"></div>
            </th:block>
        </div>

        <div class="text-center">
            <th:block th:switch="${rankingType}">
                <a th:case="MOST_SEARCHED" class="btn btn-dark btn-lg text-white" th:href="@{/ranking/most_searched (size=${rankingPageSize + 10 > 100 ? 100 : rankingPageSize + 10})}">Pokaż więcej</a>
                <a th:case="HIGHEST_RATED" class="btn btn-dark btn-lg text-white" th:href="@{/ranking/highest_rated (size=${rankingPageSize + 10 > 100 ? 100 : rankingPageSize + 10})}">Pokaż więcej</a>
                <a th:case="MOST_RATED" class="btn btn-dark btn-lg text-white" th:href="@{/ranking/most_rated (size=${rankingPageSize + 10 > 100 ? 100 : rankingPageSize + 10})}">Pokaż więcej</a>
            </th:block>
        </div>

    </div>

</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>