<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container" th:object="${homeView}">
    <div class="jumbotron">
        <h1 class="display-4">Najpopularniejsze w ostatnim tygodniu</h1>
        <hr class="my-4">
        <div id="carouselMostPopularMovies" class="carousel slide rounded" data-ride="carousel">
            <ol class="carousel-indicators" style="position: absolute; bottom: -50px;">
                <li th:each="movie : ${homeView.getMostPopularMovies()}" data-target="#carouselMostPopularMovies" class="bg-dark pb-1" th:data-slide-to="${movieStat.index}" th:classappend="${movieStat.first}? active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" th:each="movie : ${homeView.getMostPopularMovies()}" th:classappend="${movieStat.first}? active">
                    <div class="card mb-3 border-dark">
                        <div class="row no-gutters">
                            <div class="col-md-auto">
                                <img style="max-height: 400px" th:src="${movie.getKey().getCover().getSource()}" class="d-block mx-auto" th:alt="${movie.getKey().getCover().getName()}">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h3 class="card-title"><a class="text-dark" th:href="@{/movie/{id} (id=${movie.getKey().getId()})}" th:text="${movie.getKey().getTitle()}">Title</a></h3>
                                    <h7>
                                        <a href="#" class="badge badge-pill badge-dark" th:each="category : ${movie.getKey().getCategories()}" th:text="'#' + ${category}">#category</a>
                                    </h7>
                                    <p class="card-text" th:text="${movie.getKey().getDescription()}">Description</p>
                                    <ul>
                                        <li class="font-weight-bold" th:text="'Liczba wyszukiwań: ' + ${movie.getValue()}">Number of searches</li>
                                        <li class="font-weight-bold" th:text="'Średnia ocena: ' + ${movie.getKey().getAvgUsersRatingAsString()}">Average★</li>
                                        <li class="font-weight-bold" th:text="'' + ${movie.getKey().getNumberOfPeopleWhoWatched()} + ' użytkowników oceniło ten film'">Number of people who watched</li>
                                        <li class="font-weight-bold" th:text="'' + ${movie.getKey().getNumberOfPeopleWhoWantToWatch()} + ' chce go zobaczyć'">Number of people who want to watch</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Statystyki ogólne</h1>
        <hr class="my-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Filmy w bazie danych</th>
                <td class="text-right" th:text="${homeView.getNumberOfMoviesInDatabase()}">number</td>
            </tr>
            <tr>
                <th scope="row">Utworzone konta</th>
                <td class="text-right" th:text="${homeView.getNumberOfRegisteredAccounts()}">number</td>
            </tr>
            <tr>
                <th scope="row">Aktywni użytkownicy (zalogowani w ciągu ostatniego tygodnia)</th>
                <td class="text-right" th:text="${homeView.getNumberOfActiveUsers()}">number</td>
            </tr>
            <tr>
                <th scope="row">Liczba ocen filmów</th>
                <td class="text-right" th:text="${homeView.getNumberOfRatings()}">number</td>
            </tr>
            <tr>
                <th scope="row">Liczba wyszukiwań filmów</th>
                <td class="text-right" th:text="${homeView.getNumberOfSearches()}">number</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Statystyki ostatniego tygodnia</h1>
        <hr class="my-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Nowe konta</th>
                <td class="text-right" th:text="${homeView.getNumberOfNewAccountsLastWeek()}">number</td>
            </tr>
            <tr>
                <th scope="row">Liczba ocen filmów</th>
                <td class="text-right" th:text="${homeView.getNumberOfRatingsLastWeek()}">number</td>
            </tr>
            <tr>
                <th scope="row">Liczba wyszukiwań filmów</th>
                <td class="text-right" th:text="${homeView.getNumberOfSearchesLastWeek()}">number</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>