<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container" th:object="${homeView}">
    <div class="jumbotron">
        <h2>Najpopularniejsze w ostatnim tygodniu</h2>
        <hr class="my-4">
        <div id="carouselMostPopularMovies" class="carousel slide rounded" data-ride="carousel">
            <ol class="carousel-indicators" style="position: absolute; bottom: -50px;">
                <li th:each="movie : ${homeView.getMostPopularMovies()}" data-target="#carouselMostPopularMovies" class="bg-dark pb-1" th:data-slide-to="${movieStat.index}" th:classappend="${movieStat.first}? active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" th:each="movie : ${homeView.getMostPopularMovies()}" th:classappend="${movieStat.first}? active">
                    <div class="card mb-3 border-dark">
                        <div class="row no-gutters">
                            <div class="col-md-auto">
                                <img style="max-height: 400px" th:src="${movie.getCover().getSource()}" class="d-block mx-auto" th:alt="${movie.getCover().getName()}">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h3 class="card-title"><a class="text-dark" th:href="@{/movie/{id} (id=${movie.getMovieId()})}" th:text="${movie.getTitle()}">Title</a></h3>
                                    <h7>
                                        <a href="#" class="badge badge-pill badge-dark" th:each="category : ${movie.getCategories()}" th:text="'#' + ${category}">#category</a>
                                    </h7>
                                    <p class="card-text" th:text="${movie.getDescription().isEmpty()} ? 'Ten film nie ma jeszcze opisu...' : ${movie.getDescription()}">Description</p>
                                    <ul class="list-inline">
                                        <li class="font-weight-bold list-inline-item" th:text="'⦿ Średnia ocena TMDB: ' + ${movie.getTmdbVoteAvg()}">Tmdb vote average</li>
                                        <li class="font-weight-bold list-inline-item" th:text="'⦿ Ocen w TMDB: ' + ${movie.getTmdbVoteCount()}">Tmdb vote count</li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li class="font-weight-bold list-inline-item" th:text="'⦿ Średnia ocena Filmzone: ' + ${movie.getFzVoteAvg()}">Filmzone vote average</li>
                                        <li class="font-weight-bold list-inline-item" th:text="'⦿ Ocen w Filmzone: ' + ${movie.getFzVoteCount()}">Filmzone vote count</li>
                                        <li class="font-weight-bold list-inline-item" th:text="'⦿ Wyszukań w Filmzone: ' + ${movie.getFzNumberOfSearches()}">Number of searches</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h2>Statystyki ogólne</h2>
        <hr class="my-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">Nazwa statystyki</th>
                    <th class="text-right">Ostatni tydzień</th>
                    <th class="text-right">W sumie</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">Utworzone konta</td>
                <td class="text-right" th:text="${homeView.getNumberOfNewAccountsLastWeek()}">number</td>
                <td class="text-right" th:text="${homeView.getNumberOfRegisteredAccounts()}">number</td>
            </tr>
            <tr>
                <td scope="row">Liczba ocen filmów</td>
                <td class="text-right" th:text="${homeView.getNumberOfRatingsLastWeek()}">number</td>
                <td class="text-right" th:text="${homeView.getNumberOfRatings()}">number</td>
            </tr>
            <tr>
                <td scope="row">Liczba wyszukiwań filmów</td>
                <td class="text-right" th:text="${homeView.getNumberOfSearchesLastWeek()}">number</td>
                <td class="text-right" th:text="${homeView.getNumberOfSearches()}">number</td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>